---
layout: default
title : Home
---

<h1>Introduction</h1>
<ul>
{% for post in site.categories.introduction %}
	<li><span><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h1>Tools and Resources</h1>
<ul>
	<li><a href="https://github.com/scholarsnyc/html-template/zipball/master" class="btn">Download Template</a></li>
	<li><a href="/resources/additional-resources" class="btn">Additional Resources</a></li>
</ul>

<h1>Basic JavaScript</h1>
{% for post in site.categories.javascript-basics %}
	<li><span><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
