---
layout: default
title : Code Camp 2012
---

<h2>Projects</h2>

<ul>
	<li><a href="projects/guessing-boxes">Guessing Boxes</a> by Justin and Ryan</li>
	<li><a href="projects/ekemini">Castaway</a> by Ekemini</li>
</ul>

<h2>Week Two</h2>

<h3>Canvas and Game Creating</h3>
<ul>
	<li><a href="http://billmill.org/static/canvastutorial/index.html" title="Creating a Breakout Game with Canvas">Creating a Breakout Game with Canvas</a></li>
	<li><a href="http://michalbe.blogspot.com/2010/09/simple-game-with-html5-canvas-part-1.html" title="Creating Simple Game with HTML5 Canvas">Creating Simple Game with HTML5 Canvas</a></li>
	<li><a href="http://dev.opera.com/articles/view/html-5-canvas-the-basics/" title="HTML5 Canvas: The Basics">HTML5 Canvas: The Basics</a></li>
	<li><a href="http://net.tutsplus.com/sessions/canvas-from-scratch/" title="Canvas From Scratch">Canvas From Scratch</a></li>
	<li><a href="http://css.dzone.com/articles/how-write-brikbloc-game-html5" title="How to Write a BrikBloc Game With HTML5 SVG and Canvas">How to Write a BrikBloc Game With HTML5 SVG and Canvas</a></li>
	<li><a href="https://developer.mozilla.org/en/Canvas_tutorial/" title="Canvas Tutorial">Canvas Tutorial</a></li>
</ul>

<h3>jQuery Mobile</h3>
<ul>
	<li><a href="http://net.tutsplus.com/tutorials/javascript-ajax/how-to-build-an-rss-reader-with-jquery-mobile-2/" title="How to Build an RSS Reader with jQuery Mobile">How to Build an RSS Reader with jQuery Mobile</a></li>
	<li><a href="http://www.codeforest.net/jquery-mobile-tutorial-basics" title="jQuery Mobile Tutorial: Basics">jQuery Mobile Tutorial: Basics</a></li>
	<li><a href="http://spyrestudios.com/beginners-tutorial-coding-web-apps-with-jquery-mobile/" title="Beginner’s Tutorial Coding Web Apps with jQuery Mobile">Beginner’s Tutorial Coding Web Apps with jQuery Mobile</a></li>
	<li><a href="http://jquerymobile.com/resources/" title="jQuery Mobile Resources">jQuery Mobile Resources</a></li>
	<li><a href="http://matt.might.net/articles/learning-javascript-in-small-bites/" title="Creating a Calculator in JavaScript">Creating a Calculator in JavaScript</a></li>
</ul>

<h3>Libraries</h3>
<ul>
	<li><a href="http://craig.is/killing/mice">Mousetrap.js</a></li>
	<li><a href="http://jquery.com/">jQuery</a></li>
	<li><a href="http://d3js.org/">D3.js</a> (There is an awesome tutorial <a href="http://alignedleft.com/tutorials/d3/">here</a>.)
	<li><a href="http://listjs.com/">List.js</a></li>
</ul>


<h2>Introduction</h2>
<ul>
{% for post in site.categories.introduction %}
	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>jQuery Tutorials</h2>
<ul>
<li><a href="http://docs.jquery.com/Tutorials:Getting_Started_with_jQuery" title="Tutorials:Getting Started with jQuery - jQuery JavaScript Library">Getting Started with jQuery</a></li>
<li><a href="http://www.jquery-tutorial.net/" title="The complete jQuery tutorial">The Complete jQuery tutorial</a></li>
<li><a href="http://net.tutsplus.com/articles/web-roundups/jquery-for-absolute-beginners-video-series/" title="jQuery for Absolute Beginners: The Complete Series | Nettuts+">jQuery for Absolute Beginners: The Complete Series</a></li>
<li><a href="http://www.noupe.com/jquery/50-amazing-jquery-examples-part1.html" title="50+ Amazing Jquery Examples- Part1 - Noupe">50+ Amazing Jquery Examples, Part 1</a></li>
</ul>

<h2>Basic JavaScript</h2>
<ul>
	{% for post in site.categories.javascript-basics %}<li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
</ul>

<h2>Links and Repositories</h2>
<ul>
	{% for post in site.categories.links %}<li><a href="{{ post.link }}">{{ post.title }}</a></li>{% endfor %}
</ul>

<h2>Code Samples</h2>
<ul>
	{% for code in site.categories.code %}<li><a href="{{ code.url }}">{{ code.title }}</a></li>{% endfor %}
</ul>

<h2>Resources</h2>
<ul>
	{% for post in site.categories.resources %}<li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
</ul>

<h2>Video Tutorials</h2>
<ul>
	{% for video in site.categories.videos %}<li><a href="{{ video.url }}">{{ video.title }}</a></li>{% endfor %}
</ul>