<h2 id="abriefhistoryofjavascript">A Brief History of JavaScript</h2>

<p>The legend is that JavaScript was developed in ten days by Brendan Eich for Netscape. Ironically, JavaScript has almost nothing to do with Java despite its name. Java was really popular at the time and Netscape wanted to play on its popularity. Brendan was told, &#8220;Make it look more like Java.&#8221; So, he changed the syntax.</p>

<p>For years, JavaScript was considered to be a toy programming language that real programmings looked down their collective nose at. In Internet Explorer 5, Microsoft unveiled a new technology which was eventually dubbed AJAX.</p>

<p>AJAX lets you fetch stuff in the background and do all sorts of magic. Most of the awesome web apps you use today use AJAX to do what they do so well. In the time since Internet Explorer 5, JavaScript has sky-rocketed in popularity and is now the number one language on <a href="https://github.com/languages" title="Top Languages">Github</a>.</p>