<h2>Awesome Examples of JavaScript</h2>

<p>Awesome stuff that you use everyday (e.g. <a href="http://gmail.com" title="Gmail">Gmail</a>, <a href="http://tumblr.com" title="Tumblr">Tumblr</a>) is powered by JavaScript. In addition, smart people are doing some really cool things with the language. Here a few that found with about 45 seconds of searching on Google.</p>

<ul>
<li><a href="http://soulwire.github.com/Coffee-Physics/" title="CoffeePhysics">CoffeePhysics</a></li>
<li><a href="http://onecm.com/projects/canopy/" title="Chrome Canopy">Chrome Canopy</a></li>
<li><a href="http://mrdoob.com/projects/chromeexperiments/ball_pool/" title="Ball Pool">Ball Pool</a></li>
<li><a href="http://www.giuseppesicari.it/floating-cubes/" title="Floating Cubes - Chrome Experiment">Floating Cubes</a></li>
<li><a href="http://open.adaptedstudio.com/html5/many-lines/index.html" title="Lines go all over the place.">Lines</a></li>
<li><a href="http://mrdoob.com/projects/chromeexperiments/depth_of_field/" title="Depth of Field (Javascript)">Depth of Field (Javascript)</a></li>
<li><a href="http://mrdoob.com/projects/chromeexperiments/google_gravity/" title="Google Gravity">Google Gravity</a></li>
</ul>

<h3 id="otherplacesyoumightfindjavascript">Other places you might find JavaScript</h3>

<h4 id="node.js">Node.js</h4>

<p>If I tried to explain <a href="http://nodejs.org/">Node.js</a> to you at thing point, your eyes would glaze over, so I&#8217;ll keep it short. Node.js makes it possible to build apps that work in real-time super fast (e.g. a chatroom or multiplayer game).</p>

<h4 id="googleappsscript">Google Apps Script</h4>

<p>You can use JavaScript to take control of Google Apps. Google opens up their entire system to you to mash-up and combine. You can create a spreadsheet that can send emails and all sorts of crazy stuff.</p>