<h2>Why Learn to Program?</h2>

<p>So, you signed up for this endeavor (good choice, by the way), but your probably thinking: &#8220;Why should I bother learning to program?&#8221; Maybe you want to be a programmer. If so, well then learning to program is a pretty good idea, but maybe you don&#8217;t want to program professionally. Learning to program is still an important skill. Computers aren&#8217;t going away anytime soon. Learning how to use them and bend them to your whim can make you <em>way</em> better at anything you put your mind to.</p>

<p>More importantly, you can <a href="http://boingboing.net/2012/03/26/howto-build-a-robotic-squirrel.html">build a robot that shoots a water gun at the squirrels that try to raid your bird feeder</a> or <a href="http://www.readwriteweb.com/archives/weekend_project_hack_microsoft_kinect.php">hack a Microsoft Kinect</a>.</p>

<p>For the purposes of the next few weeks, we&#8217;re going to focus on three major objectives. There are many, many more reasons to learn this stuff—but these are the three things we&#8217;re going to keep rounding back to over the course of this week. Call them themes, if you want. Call them big ideas, just don&#8217;t call them Sally—they really don&#8217;t like that.</p>

<h3>The Guiding Principles</h3>

<ul>
	<li>Learning to code gives you the ability to take your ideas and make them a reality.</li>
	<li>The web is malleable. With JavaScript (and other languages), you can alter and change anything you want.</li>
	<li>The web is full of powerful APIs that allow you to make interesting things by mashing two or more existing things together.</li>
</ul>