<h2 id="arrays">Arrays</h2>

<p>An array is like a box. Boxes are awesome. You can put stuff in boxes. You can take stuff out of boxes. Let&#8217;s look at some arrays.</p>

<pre><code>[1, 2, 3, 4] // An array of numbers.
[&quot;John&quot;, &quot;Paul&quot;, &quot;George&quot;, &quot;Ringo&quot;] // An array of strings.
[x, y, z] // An array of variables.
[2, &quot;John&quot;, z] // An array of all sorts of stuff.
[[1, 2, 3, 4], [x, y, z]] // An array of arrays.
</code></pre>

<p>You can shove all sorts of stuff into arrays. You can even shove an array into an array just like you can put a smaller box into a bigger box. For the most part, if it exists in JavaScript, you can shove it into an array. This makes arrays really useful. Useful things are wonderful.</p>

<p>You can store variables in an array and you can also store a whole array into a single variable.</p>

<pre><code>var myVerySpecialArray, sushiRoll;
sushiRoll = &quot;California Roll&quot;;
myVerySpecialArray = [&quot;The Walrus is Paul&quot;, 8675309, sushiRoll];
</code></pre>

<p>That might be a little confusing, but it has less to do with the fact that arrays are hard and more to do with the fact that my example is utterly ridiculous. There is one thing that is worth discussing, JavaScript swaps out <code>sushiRoll</code> for it&#8217;s real value. If you run <code>console.log(myVerySpecialArray)</code>, it will print <code>[&quot;The Walrus is Paul&quot;, 8675309, &quot;California Roll&quot;]</code>. Variables are weird little things.</p>

<p>Let&#8217;s change subjects. Once we have a bunch of stuff in an array, how do we get it out?</p>

<p>Arrays have a natural order to them. They have a beginning and an end; a start and a finish. Just like reading a sentence, you start at the left and move right. However, computers do things a little differently than humans.</p>

<p>Normally when we count, we start at 1. Computers start a zero. They just want to be different and who can blame them? In order to get a better understanding of how to get information in and out of arrays, let&#8217;s look at some code.</p>

<pre><code>var box; // Declare a variable named &quot;box.&quot;
box = [&quot;Spiderman&quot;, &quot;Batman&quot;, &quot;Wombatman&quot;]; // Set it to an array.
console.log(box[0]); // prints &quot;Spiderman&quot;
</code></pre>

<p>That bracket notation gets us one element from the array. We can also set elements in the same way.</p>

<pre><code>var box = [&quot;Spiderman&quot;, &quot;Batman&quot;, &quot;Wombatman&quot;];
box[1] = &quot;DOGMAN!!!&quot;;
// I had to use double quotes because of the apostrophe, you know?
console.log(box);
// prints [&quot;Spiderman&quot;, &quot;DOGMAN!!!&quot;, &quot;Wombatman&quot;]
</code></pre>

<p>You can also push more things onto the end by attaching a function (actually, it&#8217;s a method call, but let&#8217;s not get ahead of ourselves).</p>

<pre><code>var box = [&quot;Spiderman&quot;, &quot;DOGMAN!!!&quot;, &quot;Wombatman&quot;];
box.push(&quot;Superman&quot;);
console.log(box);
// prints [&quot;Spiderman&quot;, &quot;DOGMAN!!!&quot;, &quot;Wombatman&quot;, &quot;Superman&quot;]
</code></pre>

<p>What&#8217;s that crazy dot in <code>box.push(&quot;Superman&quot;)</code>? Well that&#8217;s object notation, silly. Objects? Sure, we&#8217;ll talk about objects in a minute.</p>