<h3 id="functions">Functions</h3>

<p>Functions are like little machines that we can create to do our bidding. Variables save our sanity by helping us avoid typing the same thing over and over. Functions do the same thing, but they save us from having to write the same code over and over again.</p>

<p>You&#8217;ve already used a few functions. Yea, I told you I was going to keep secrets from you.</p>

<pre><code>alert(&quot;Hello!&quot;);
console.log(&quot;Hello!&quot;);
prompt(&quot;What's the name of your dog?&quot;);
confirm(&quot;Clicking okay will delete the entire contents of your hard drive.&quot;);
</code></pre>

<p>These are all functions. You can tell because they have the parentheses at the end. The parentheses mean that you want to call the function. If you leave them off, then JavaScript just assumes that you just want to sit around and talk about the function, which is a strange way to spend the afternoon.</p>

<p>Paste these into your console one at a time:</p>

<pre><code>alert;
alert();
</code></pre>

<p>The first one just tells you that it&#8217;s a function and the second one actually calls it. There is a purpose and use for the first one, but we&#8217;ll get to that at a later date. For the most part, we&#8217;re actually going to want to call on functions.</p>

<p>You&#8217;ve probably noticed that we can shove things in between those parentheses. These are called arguments. No, they&#8217;re not like those yelling matches that you have with your siblings. They are little extra pieces of information that you provide to the function so that it can do something useful with that information.</p>

<p><code>alert();</code> by itself is great and wonderful, but it is more helpful when you provide an argument that lets the alert function know what it is that you&#8217;d like to alert the user of.</p>

<pre><code>alert(&quot;Your hair is on fire!&quot;);
</code></pre>

<p>There, that is a bit more helpful. You just added an argument to that function. Congratulations. If I was the kind of guy that kept gold stars on hand, I would totally give you one right about now. Using functions is great and wonderful, but we want to <em>make</em> functions.</p>

<p>Just like the keyword <code>var</code> makes variables, we use <code>function</code> to make functions. That said, there is a little bit more involved in making functions. Let&#8217;s take a look at a basic function and pull it apart.</p>

<pre><code>function name(argument) {
    console.log(argument);
}
</code></pre>

<p>First we use the keyword <code>function</code>. Then we give it a name (I chose <code>name</code> as the name of my function) and we list out the arguments. You can list out as many arguments as you want. I listed just one. You can also name the argument whatever you want as well. I chose <code>argument</code> as the name of my argument. Then we have some curly braces.</p>

<p>Arguments become magical variables that only exist inside of that function. I don&#8217;t have to declare them with the <code>var</code> keyword, but they will also cease to exist as soon as we run up against that closing curly brace.</p>

<p>Inside the curly braces, we write out what we want the function to do. The curly braces mean that we want to start a block of code. Blocks of code don&#8217;t get semi-colons at the end. Don&#8217;t ask me why. (I know why, but I don&#8217;t feel like explaining it.) My example is pretty boring. Let&#8217;s look at another equally as boring example, shall we?</p>

<pre><code>// First, let me define the function.
function addTwoNumbers(x, y) {
    var sum = x + y;
    console.log(sum);
}

// Then, I will call it.
addTwoNumbers(1000, 23);
</code></pre>

<p>Not bad, but there are some problems with this function. The biggest problem is that I can&#8217;t do anything with data my magic adding robot spits out.</p>

<pre><code>function addTwoNumbers(x, y) {
    var sum = x + y;
    console.log(sum);
}

var result;
result = addTwoNumbers(19, 27);

// Go get a sandwich.

console.log(result);
</code></pre>

<p>Drats! It tells me <code>undefined</code>. That&#8217;s because our function is logging the sum of the two numbers, but it&#8217;s not actually spitting it back out. Our function is like a black box. Two numbers go in, but nothing comes out. When JavaScript has nothing to say, it says <code>undefined</code>.</p>

<p>We need our function to <code>return</code> a result. <code>return</code> is yet another keyword. We have three now if you&#8217;re keeping track. Let&#8217;s use our new keyword to make our function more awesome.</p>

<pre><code>function addTwoNumbers(x, y) {
    var sum = x + y;
    return sum;
}

var result;
result = addTwoNumbers(19, 27);

console.log(result);
</code></pre>

<p>Boom! Our function works as expected. We put two numbers into it. The function combines them and then spits out the sum. We can put the sum into a variable and then use it later to do whatever we want with it.</p>

<p>You only get to use <code>return</code> once per function. Try this out.</p>

<pre><code>function addTwoNumbers(x, y) {
    var sum = x + y;
    return &quot;BANANAS OF THE WORLD: UNITE!&quot;;
    return sum;
}

console.log(addTwoNumbers(1,2));
</code></pre>

<p>Great. Now instead of adding two numbers, you called for a worldwide uprising of bananas. Good job. Notice that I didn&#8217;t bother storing the result into a variable this time. A banana revolution is not something you want to hang on to. You can nest functions inside each other.</p>

<pre><code>alert(prompt(&quot;What would you like me to alert you of?&quot;));
</code></pre>

<p>You can also call functions inside of other functions.</p>

<pre><code>function addTwoNumbers(x, y) {
    return x + y;
}

function addThreeNumbers(x, y, z) {
    return addTwoNumbers(x, y) + z;
}

console.log(addThreeNumbers(1,2,3));
</code></pre>

<p>I also shortened the functions. Take a look at how I did it. I don&#8217;t <em>need</em> to store the value in a variable, so I didn&#8217;t.</p>

<h4 id="howtodomath">How to Do Math</h4>

<p>I should probably take a minute and explain how to do some basic mathematical expressions.</p>

<ul>
<li><code>+</code> does addition</li>
<li><code>-</code> does subtraction</li>
<li><code>*</code> does multiplication</li>
<li><code>/</code> does division</li>
<li><code>%</code> called the modulo operator</li>
</ul>

<p>The modulo gives you the remainder from dividing two numbers. For example:</p>

<pre><code>console.log(11 % 3);
</code></pre>

<p>This will log 2 to the screen since 11 / 3 is three with a remainder of 2. This may or may not be useful in the very near future.</p>

<h4 id="yourturn">Your Turn</h4>

<p><strong>Challenge:</strong> Other countries use Celsius instead of Fahrenheit for temperature. To convert a Fahrenheit temperature to Celsius, you subtract 32 and multiply the number by 5/9.</p>

<p>Create two functions: one that converts Fahrenheit to Celsius and one that converts Celsius to Fahrenheit. Keep in mind that the order of operations still applies in JavaScript and you might need to use parentheses.</p>