<h2 id="shovingyourcodeintoapage">Shoving Your Code into a Page</h2>

<h3 id="theconsole">The console</h3>

<p>We just played with the JavaScript console for a bit. For the most part, the console is for testing out ideas and trying things out. Nothing that you you type into the console will be saved when you leave the page.</p>

<h3 id="includingitinthehtmlofyourpage">Including it in the HTML of your page</h3>

<p>You can pop JavaScript into your page relatively easily. Your browser will run anything that you put inside of a <code>&lt;script&gt;</code> tag. We&#8217;ll talk a little more about in the days to come. For the time being, if the HTML doesn&#8217;t make sense to, just pretend that it does.</p>

<pre><code>&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;This is the title of my page&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;p&gt;Hello world!&lt;/a&gt;
        &lt;script&gt;
            // Everything until the closing tag will be read a JavaScript
            alert(&quot;I mayor of Monkeyland&quot;);
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>

<h3 id="linkingtoitinthehtmlpreferred">Linking to it in the HTML (Preferred)</h3>

<p>The is the ways the pros do it. Good developers do something called &#8220;separation of concerns.&#8221; The basic premise is this: if you jumble all of your code together, it&#8217;s going to become a confusing mess as your application grows bigger and bigger.. Experienced programmers separate their code out into different files.</p>

<p>The process is simple, just create a file that ends in <code>.js</code> and in whatever HTML file you want to use it in, just add a source link in. Let&#8217;s same the of your JavaScript file was <code>awesomesauce.js</code>. You would embed it like this.</p>

<pre><code>    &lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;This is the title of my page&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;p&gt;Hello world!&lt;/a&gt;
        &lt;script src=&quot;awesomesauce.js&quot;&gt;&lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>Where to put your <code>&lt;script&gt;</code> tag depends on a few different things, but we&#8217;ll talk about all of that later on.</p>

<h3 id="bookmarklets">Bookmarklets</h3>

<p>Bookmarklets are little snippets of JavaScript that you can save to your bookmarks bar. When you click on a bookmarklet, it comes to life and does some magic to your page. We&#8217;ll be playing with some bookmarklets in this course. Stay tuned.</p>

<h3 id="chromeandsafariextensions">Chrome and Safari extensions</h3>

<p>You can use JavaScript to build extensions for your browser that—um—extend the abilities of your browser. We&#8217;ll be doing this next week.</p>